*{
	margin: 0;
	padding: 0;
}
body{
	background-color:black;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	
}
a{
	text-decoration: none;
}

.menu{
	width: 900px;
	margin: 30px auto;
	text-align: center;
}

.menu a{
	color: red;
	padding: 18px;
	border: 3px solid red;
	font-size: 20px;
	margin:0 30px;
	border-radius: 13px;
}
.menu a:hover {
	background-color: cadetblue;
	color: cyan;
}
main {
	width: 700px;
	height: 600px;
	background-color: yellowgreen;
	text-align: center;
	margin: auto;
	border-radius: 13px;
	box-shadow: blanchedalmond;
}
